# General OS files
.DS_Store
Thumbs.db

# Compiled object files
*.o
*.a
*.so
*.lo
*.la
*.out
*.exe
*.dll
*.dylib

# C project files
*.gcda
*.gcno
*.gcov
*.d

# Go build artifacts
/bin/
/pkg/
*.exe
*.test
*.mod
*.sum

# Go workspace settings
.envrc
*.log

# Editor & IDE files
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp
